<div class="container">
  <h1>Mexico City</h1>
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
      #search [formControl]="searchControl">
  </div>

  <agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
    <agm-marker *ngFor="let m of locations; let i = index" [latitude]="m.lat" [longitude]="m.long" [label]="m.label" [markerDraggable]="true">
      <agm-snazzy-info-window [closeOnMapClick]="true" [closeWhenOthersOpen]="true">
        <ng-template>
          <div>{{ m | json }}</div>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</div>
