.form-signin {
  background: transparent;
  border: none;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  margin: 200px auto;
  input {
    margin-bottom: 15px;
    &#inputPassword {
      margin-bottom: 30px;
    }
  }
}
