<div class="col-8 card col-xl-3 col-md-4 text-center form-signin">
  <div class="card-body">
    <form class="">
      <img class="mb-4 text-center" src="../assets/bottle.png" width="200">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</div>
